<h1>Welcome#FAQ</h1>

<br>
<br>
<div>
  <h2>Why do ostriches stick their heads in the sand?</h2>
  <p>In a study of 200,000 ostriches over a period of 80 years, no one reported a single case where an ostrich buried its head in the sand.</p>
  <br>
  <h2>When pigs fly...will they know?</h2>
  <p>It is physically impossible for pigs to look up into the sky.</p>
  <br>
  <h2> Does a duck's quack echo?</h2>
  <p>A duck's quack doesn't echo, and no one knows why.</p>
</div>
<br>
<p>-------------------------</p>
<%=link_to "Tell me more...", "http://bootstrike.com/LaughterHell/Misc/miscs13.php"%>
